.card {
  height: 350px;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  /* max-height: 250px; */
  padding: 0px 10px;
}

.card a {
  text-decoration: none;
  color: rgba(35, 35, 35);
}

.card h2,
.card p {
  padding: 5px;
  margin-left: 15px;
}

.card p {
  font-size: 12px;
  font-weight: bold;
  color: rgba(9, 132, 209);
}

.card_container {
  position: relative;
  margin-top: -10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}
